.imdbButton {
  background-color: #f5c518;
  color: #000;
  border: none;
  padding: 0.5em 0;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0.25em;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-top: 1.25em;
  text-align: center;
  width: 100%;
  max-width: 12.5em;
}
