$colors: (
  dark-grey: #444950,
  medium-grey: #5c626a,
  light-orange: #ffdead,
  gradient-start: #3b8d99,
  gradient-middle: #6b6b83,
  gradient-end: #aa4b6b,
);

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
